.App {
  background-color: darkslategray;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-MainContainer {
  position: relative;
  flex: 1 1 auto;
}

#noa_fps {
  bottom: 0px;
  left: 0px;
  top: auto !important;
  right: auto !important;
}